

// Font-size
$Fz10 : 10px;
$Fz13 : 13px;
$Fz20 : 20px;
$Fz30 : 30px;
$Fz40 : 40px;

// margin
$mb0   : 0px;
$mb20  : 20px;

// Padding
$pt0   : 0px;
$pt5   : 5px;
$pt10  : 10px;
$pt20  : 20px;

$pb0   : 0px;
$pb5   : 5px;
$pb10  : 10px;
$pb20  : 20px;
