@media (max-device-width: 540px) {

  .textHome{
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    padding-top: 20px;
  }
  .iconHome{
    text-align: center;
    font-size: 80px;
  }

}
